{% extends 'base.html' %}
{% load static %}

{% block title %}
    inventory
{% endblock %}

{% block body %}
    <h1 class="heading">Добавление вещи в опись<span class="date"></span></h1>
    <a href="{% url 'personal_things' %}">Список уже добавленных!</a>
    {% if success %}
        Запись успешно добавлена!
    {% endif %}

    <form class="form" name="product" method="post"
          action="{% url 'add_personal_thing' %}" autocomplete="off">
        {% csrf_token %}
        <div class="results"></div>
        <input type="text" id="autoComplete" name="nomenclature_name"
               class="input input_name" placeholder="Наименование">
        <input type="text" id="unitAutoComplete" name="unit_name"
               class="input input_unit" placeholder="ед. измерения">
        <div class="selection selection_nomenclature"></div>
        <div class="selection selection_unit"></div>
        {{ form.category }}
        {{ form.category.errors }}
        {{ form.nomenclature }}
        {{ form.nomenclature.errors }}
        {{ form.unit }}
        {{ form.unit.errors }}
        <div class="container">
            {{ form.quantity }}
            {{ form.quantity.errors }}
            {{ form.cost }}
            {{ form.cost.errors }}
        </div>
        <button type="submit" name="button" class="button">Добавить
        </button>
    </form>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
{% endblock %}